*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-image: url('m5\ \(2\).jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.title{
    position: absolute;
    top: 40%;
    Left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: rgb(240, 240, 247);
    font-size: 120px
    ;
}

.button {
    position: absolute;
    top: 55%;
    Left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

/* Reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Main styling */
html,body{
    font-family: 'sans-serif';
    line-height: 1.7em
}

a{
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px
}

/* Navbar*/
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover {
    background: #444;
    color: #fff;
}

header{
    background-image: url('m5\ \(2\).jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

